::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
    background-attachment: fixed;
    font-family: Verdana;
    font-size: 12px;
    background-image: url("../pics/bg.jpg");
    background-repeat: repeat;
} 

h1{
    display: none;
}

h2{
    display: none;
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 11px;
    z-index: -1;
}

div#main{
    padding: 5px 0px 0px 0px;
    background-color: rgb(10, 10, 10);
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 642px;
}

div#main1{
    height: 22px;
    width: auto;
}

div#main2{
    height: 600px;
    width: auto;
    overflow: auto;
    border-bottom: 1px solid white;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
}

td{
    padding: 3px 10px 3px 10px;
    min-width: 120px;
}

td.discipline{
    min-width: 300px;    
}

td.medal{
    min-width: 40px;
    text-align: right;
}

td.heading{
    font-weight: bold;
    border-bottom: 1px solid white;
}

td.buttons{
    min-width: 60px;
    text-align: right;
}

td.buttonsPlus20px{
    min-width: 80px;
}

img.medal{
    width: 12px;
    height: 12px;    
}

img.button{
    width: 12px;
    height: 12px;    
}

div#editEvent{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    display: none;
    padding: 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    opacity: 0;
    width: 555px;
}

div#fullScreenFill{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.78);
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
}

input.editEventLong, input.editEventShort{
    padding: 3px 5.5px 3px 5.5px;
}

input.editEventLong{
    width:300px;   
}

input.editEventShort{
    width:40px;   
}

img.confirmEditButton{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 11px;
    right: 10px;     
}

img.discardButton{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 15px;
    right: 44px;     
}

div#user{
    color: white;
    background-color: rgb(10, 10, 10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    display: none;
    opacity: 0;
}

img#exitCross{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

img.binButton{
    position: absolute;
    top: 8.5px;
    right: 40px;
    width: 23px;
    height: 23px;
}

div#menu{
    width: 150px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    color: white;
    background-color: rgb(10, 10, 10);
    border: 2px solid white;
    border-top: 0px solid white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

img#addUser{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

img#addEvent{
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

div#addUserForm{
    color: white;
    background-color: rgb(10, 10, 10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    display: none;
    height: 300px;
    opacity: 0;
}

div.newFormButtons{
    width: 60px;
    height: 24px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.confirmNewUserButton, img.confirmNewEventButton{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 75%; 
    transform: translate(-50%, -50%);  
}

img.discardNewUserButton, img.discardNewEventButton{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 25%;    
    transform: translate(-50%, -50%); 
}

div#addEventForm{
    color: white;
    background-color: rgb(10, 10, 10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    display: none;
    opacity: 0;
    height: 180px;
}